* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumSquareNeo';
    font-size: 16px;
    /*
    cursor: url(./images/INDEX/images/index/cursor00.png), auto;*/
    color: #000;
    min-width: 1320px;
    
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}
.loader {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.loader video{
    width: 100%;
}

/*로딩 꾸미기*/


.zz{
    width: 100%;
    overflow-x:hidden;
    position: relative;
}
.cursor {
    position: absolute;
    z-index: 1;
}

.left {
    width: 1320px;
    height: 350px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #EAE4F6;
}

.left>div {
    padding-bottom: 50px;
    padding-top: 45px;
    padding-left: 70px;
}

.text_footer1 {
    width: 150px;
    color: #000;
}

.text_footer1 p {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;

}

.text_footer1>a {
    font-size: 54px;
    margin-bottom: 70px;
    display: block;
    border-bottom: 3px solid #000;
}

.text_footer2 {
    width: 645.26px;
    position: relative;
}

.text_footer2 p {
    color: #000;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 10px;
}

.text_footer2 .email {
    width: 645px;
    height: 55px;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid #000;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 20px;
    padding-right: 60px;
    box-sizing: border-box;
}

.text_footer2 .email:focus {
    outline: none;
}

.text_footer2 .email::placeholder {
    color: #8E8E8E;
}

.text_footer2 img {
    position: absolute;
    bottom: 8px;
    right: 7px;

}



/*푸터*/
footer {
    max-width: 100%;

    border-top: 3px solid #000;

}


.footer_contants {
    width: 1320px;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.top {
    position: absolute;
    top: 42px;
    right: 19px;
}

.text_footer5 {
    margin-top: 42px;
}

.text_footer5 p {
    color: #848484;
    font-size: 18px;
    line-height: 38px;
}

.text_footer5 .aa {
    margin-left: 10px;

}

.text_footer6 {
    margin-top: 211px;
    margin-right: 19px;
}


.icon_footer {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.icon_footer a {
    padding: 0px 10px 0px 10px;
}

.icon_footer img {
    display: block;
}

.icon_footer .youtube {
    padding-top: 5px;
}







.text_footer3 {
    margin-bottom: 15px;
}

.text_footer3 p {
    line-height: 36px;
}

.text_footer3 a {
    color: #848484;
    text-align: end;
    font-size: 23px;
    font-weight: bold;
    display: block;
}

.text_footer4 {
    display: block;
    margin-top: 80px;
    margin-bottom: 50px;
}


.text_footer4 p {
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

/*푸터*/



/*광고배너3*/
.banner3 {
    width: 1320px;
    margin: auto;
    display: block;
    margin-bottom: 163.8px;
    text-align: center;
}

/*광고배너3*/


/*패션뉴스*/
.news div {
    border-top: 1px solid #000;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
}

h5 {
    font-size: 23px;
    font-weight: bold;
}

.news p {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 16px;

}

.text {
    border-bottom: 1px solid #000;
}

.news {
    width: 1320px;
    margin: auto;
    margin-bottom: 77px;
    margin-top: 50px;
}

.news a {
    display: block;
}

.news a:hover {
    background-color: #a3a1a1;
}

.news p img {
    display: inline-block;
    margin-left: 20px;
}

.newsbanner {
    width: 1320px;
    display: block;
    margin: auto;
}

.newsbanner p {
    font-size: 16px;
}

.newsbanner a {
    font-size: 16px;
}


h1 {
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
}

/*패션뉴스*/




/*MOVING BAND*/
.marquee {
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    height: 143px;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

.marquee div {
    width: 200%;
    height: 100%;
    background: url(./images/MOVING-BAND.png) repeat-x;
    position: absolute;
    animation: marquee 7s linear infinite;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

/*MOVING BAND*/



/*광고배너 2*/
.banner2 {
    margin: auto;
    color: white;
    width: 1320px;
    height: 457px;
    background: url(./images/AROSHOP2220.png) no-repeat;
    margin-bottom: 150px;

    position: relative;
}
.textbox2{
    position: absolute;
    left: 794px;
    top: 266px;
}

.banner2 p {
    padding-top: 15px;
    font-size: 22px;
    font-weight: 500;
}

button {
    margin-top: 17px;
    border-color: white;
    border: 1px solid #000;
    padding: 10px 17px 10px 17px;
    box-shadow: 5px 5px 5px #06060691;
    
}

button:hover {
    box-shadow: none;
    transition: all 0.5s;
}



.textbox2 p, h4{
    color:#263656;
}

/*광고배너 2*/



/*검색창*/
.search input {
    display: inline-block;
    border: white;
    border: 1px solid #000;
    border-radius: 50px;
    width: 1153px;
    height: 60px;
    font-size: 20px;
    position: relative;
    padding: 0 0 0 30px;
    margin-bottom: 23px;
    background: url(./images/icon.png) no-repeat 96% 50%;

}

input.hide-clear[type=search]::-ms-clear,
input.hide-clear[type=search]::-ms-reveal {
    display: none;
}

input.hide-clear[type="search"]::-webkit-search-decoration,
input.hide-clear[type="search"]::-webkit-search-cancel-button,
input.hide-clear[type="search"]::-webkit-search-results-button,
input.hide-clear[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.imgbanner {
    display: block;
    width: 1320px;
    margin: auto;
    text-align: center;
}

.search a img {
    position: absolute;
    right: 450px;
    top: 1336px;
}

.search {
    width: 1153px;
    margin: auto;
}

.imgbanner {
    width: 1185px;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;

}

.imgbanner img {
    display: block;
    opacity: 0.7;
    transition: all 1s;
}

.imgbanner div:hover img {
    opacity: 0.3;
}

.imgbanner div:hover p {
    bottom: 160px;
}

.imgbanner p {
    color: #fff;
    position: absolute;
    bottom: 104px;
    width: 100%;
    transition: all 1s;
}

.imgin1,
.imgin2,
.imgin3 {
    background-color: #000;
    border-radius: 25px;
    position: relative;

}

.txetbox1 {
    width: 400px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 10px 10px;
    margin-bottom: 100px;
    margin-top: 45px;
    padding: 10px 40px 10px 40px;
    display: block;
    box-sizing: border-box;
    text-align: center;
}

.txetbox1 p {
    padding-top: 5px;
}

/*검색창*/






/*코디 상세보기*/
.logoimg {
    display: block;
    text-align: center;
}

.logoimg p {
    padding-top: 10px;
}

.contents {
    position: relative;
}

.contents p {
    font-size: 16px;
    font-weight: 300;
}

.contents h5 {
    font-weight: 900;
}

.img2 {
    position: relative;
    width: 460px;
    height: 575px;
    margin: auto;
    display: none;
}

.box1:hover p {
    font-weight: bold;
}

.box2:hover p {
    font-weight: bold;
}

.box3:hover p {
    font-weight: bold;
}

.box4:hover p {
    font-weight: bold;
}

.box5:hover p {
    font-weight: bold;
}


.ssimg {
    display: block;
    margin: auto;
    margin-top: 130px;

}

.color img {
    vertical-align: middle;
}

.img2 div {
    border: 1px solid #000;
    padding: 10px;
}

.img2 div h5 {
    margin-bottom: 10px;
}

.img2 div img {
    margin-bottom: 5px;
    padding-right: 10px;
}






/*가이드라인*/
.line1 {
    position: absolute;
    top: 108px;
    right: 339px;
}

.line2 {
    position: absolute;
    top: 3px;
    right: 122px;
}

.line3 {
    position: absolute;
    top: 213px;
    right: 35px;
}

.line4 {
    position: absolute;
    bottom: 110px;
    right: 126px;
}

.line5 {
    position: absolute;
    bottom: 115px;
    left: 62px;
}

/*가이드라인*/

/*설명박스*/
.box1 {
    position: absolute;
    top: -62px;
    left: -249px;
}

.box2 {
    position: absolute;
    top: -71px;
    right: -172px;
}

.box3 {
    position: absolute;
    top: 144px;
    right: -305px;
}

.box4 {
    position: absolute;
    top: 386px;
    right: -165px;
}

.box5 {
    position: absolute;
    bottom: 71px;
    left: -208px;
}

/*설명박스*/


/*가이드라인2*/
.popup2 .line1 {
    position: absolute;
    top: 108px;
    right: 287px;
}

.popup2 .line3 {
    position: absolute;
    top: 323px;
    right: 1px;
}

.popup2 .line5 {
    position: absolute;
    bottom: 56px;
    left: 216px;
}

/*가이드라인2*/

/*설명박스2*/
.popup2 .box1 {
    position: absolute;
    top: -62px;
    left: -249px;
}

.popup2 .box3 {
    position: absolute;
    top: 249px;
    right: -349px;
}

.popup2 .box5 {
    position: absolute;
    bottom: -77px;
    left: -143px;
}

/*설명박스2*/

/*가이드라인3*/
.popup3 .line1 {
    position: absolute;
    top: 69px;
    right: 232px;
}

.popup3 .line2 {
    position: absolute;
    top: -65px;
    right: 104px;
}

.popup3 .line3 {
    position: absolute;
    top: 269px;
    right: 23px;
}

.popup3 .line4 {
    position: absolute;
    bottom: 63px;
    right: 102px;
}

.popup3 .line5 {
    position: absolute;
    bottom: 106px;
    left: 78px;
}

/*가이드라인3*/

/*설명박스3*/
.popup3 .box1 {
    position: absolute;
    top: -119px;
    left: -280px;
}

.popup3 .box2 {
    position: absolute;
    top: -119px;
    right: -242px;
}

.popup3 .box3 {
    position: absolute;
    top: 144px;
    right: -324px;
}

.popup3 .box4 {
    position: absolute;
    top: 417px;
    right: -257px;
}

.popup3 .box5 {
    position: absolute;
    bottom: 71px;
    left: -136px;
}

/*설명박스3*/





/*코디 상세보기*/

.img1 {
    width: 1350px;
    margin: auto;
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 52px;
}

.img1 img {
    border: 1px solid #000;
}

.img1 .ss1:hover {
    box-shadow: 5px 5px 5px #8E8E8E;
}

.img1 .sscm:hover {
    box-shadow: 5px 5px 5px #8E8E8E;
}

.img1 .ss3:hover {
    box-shadow: 5px 5px 5px #8E8E8E;
}


.ss2 {
    margin: 0px 50px 0 50px;
}

.banner {
    width: 100%;

}

header {
    width: 1320px;
    margin: auto;
    padding-top: 35px;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*움직이는 메뉴버튼*/

input[id="menuicon"] {
    display: none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label {
    display: block;
    width: 37px;
    height: 30px;
    position: relative;
    z-index: 2;
    transition: all 0.5s;
    cursor: pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span {
    background: #fff;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #000;
    transition: all 0.5s;
}

input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}


/*메뉴 창*/
.sidebar {
    width: 100%;
    height: 100%;
    background: #000000cf;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    transition: all 0.5s;
    text-align: center;
}

.sidebar ul {
    width: 420px;
    margin: 220px auto;
}

.sidebar ul li {
    padding-bottom: 30px;

}

.sidebar ul li:hover a {
    color: #f6b671;
}

.sidebar li a {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 3px;
}

.logo3 {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.sidebar li a span {
    writing-mode: horizontal-tb;
}

input[id="menuicon"]:checked+label+div {
    right: 0;
}