* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumSquareNeo';
    line-height: 1.5;
    font-size: 16px;
    min-width: 1320px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*헤더*/
header {
    width: 1320px;
    margin: auto;
    padding-top: 35px;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

}

/*헤더*/

/*움직이는 메뉴버튼*/

input[id="menuicon"] {
    display: none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label {
    display: block;
    width: 37px;
    height: 30px;
    position: relative;
    z-index: 6;
    transition: all 0.5s;
    cursor: pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span {
    background: #fff;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #000;
    transition: all 0.5s;
}

input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}


/*메뉴 창*/
.sidebar {
    width: 100%;
    height: 100%;
    background: #000000cf;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 5;
    transition: all 0.5s;
    text-align: center;
}

.sidebar ul {
    width: 420px;
    margin: 220px auto;
}

.sidebar ul li {
    padding-bottom: 30px;

}

.sidebar ul li:hover a {
    color: #f6b671;
}

.sidebar li a {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 3px;
}

.logo3 {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

.sidebar li a span {
    writing-mode: horizontal-tb;
}

input[id="menuicon"]:checked+label+div {
    right: 0;
}


/* 슬라이드 꾸미기 */
.slide {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slide .swiper-slide a {
    display: block;
    width: 1320px;
    height: 100%;
}

.slide .swiper-slide img {
    display: block;
    width: 100%;
}

/*이동버튼 영역 색상 바꾸기*/
.slide .swiper-button-prev,
.slide .swiper-button-next {

    color: rgb(0, 0, 0);
}

.slide .swiper-button-prev {
    margin-left: -300px;
    left: 39%;
}

/*이동버튼 영역 호버 시 색상 바꾸기*/
.slide .swiper-button-prev:hover,
.slide .swiper-button-next:hover {
    color: rgb(0, 0, 0);
}

.slide .swiper-button-next {
    margin-right: -300px;
    left: 75%;
}

/* 이동버튼 이미지로 바꾸기
.slide .swiper-button-prev,
.slide .swiper-button-next{
    width: 50px;
    height: 50px;
}
.slide .swiper-button-prev:after,
.slide .swiper-button-next:after{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
}
.slide .swiper-button-prev:after{
    background: url(../images/prev.png);
}
.slide .swiper-button-next:after{
    background: url(../images/next.png);
}
*/

/* 블릿버튼 크기, 색상, 투명도 */
.slide .swiper-pagination-bullet {
    background: pink;
    width: 10px;
    height: 10px;
    opacity: 0.5;
}

/* 블릿버튼 페이지 표시날 때 투명도 */
.slide .swiper-pagination-bullet-active {
    opacity: 1;
}

/* 블릿버튼 위치 */
.slide .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
}



/*패션 뉴스 패션 트렌드 시작*/
.fashion_trends {
    width: 1320px;
    margin: 30px auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

h1 {
    width: 1320px;
    margin: auto;
    margin-top: 100px;
}
/*트렌드 뉴스 버튼 꾸미기*/
.fashion_trends .button {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px; 
}

.fashion_trends div:hover .button {
    box-shadow: none;
    transition: all 1s;
    color: #fff;
    background-color: #000;
}

/*패션 아이템 뉴스*/
.fashion_item .button {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
}

.fashion_item div:hover .button {
    box-shadow: none;
    transition: all 1s;
    color: #fff;
    background-color: #000;
}

/*호버 했을때 커지는 효과*/
.fashion_trends img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: block;
}
.fashion_item img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    display: block;
}
.fashion_trends div:hover  img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.fashion_item div:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.news_imgbox{
    overflow: hidden;
}

.fashion_trends h2 {
    font-size: 20px;
    font-weight: bold;
}

.fashion_trends h2:hover {

    color: rgb(235, 121, 45);
}

.fashion_trends a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
}

.fashion_trends a:hover {
    transition: all 0.3s;
    color: rgb(235, 121, 45);
}

/*패션 트렌드 끝*/


/*패션 아이템*/
.fashion_item {
    width: 1320px;
    margin: 30px auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.fashion_item img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.fashion_item img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}





.fashion_item h2 {
    font-size: 20px;
    font-weight: bold;
}

.fashion_item h2:hover {
    color: rgb(235, 121, 45);
}

.fashion_item a {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
}

.fashion_item a:hover {
    transition: all 0.3s;
    color: rgb(235, 121, 45);
}

/*패션 아이템*/






/*컬러배너1*/
.swatch {
    box-shadow: 7px 9px 6px #0000005c;
    margin-bottom: 10px;
}
.hover1:hover{
    box-shadow: none;
    transition: all 1s;
}
.hover2:hover{
    box-shadow: none;
    transition: all 1s;
}
.hover3:hover{
    box-shadow: none;
    transition: all 1s;
}
.hover4:hover{
    box-shadow: none;
    transition: all 1s;
}
.color_banner1 {
    margin-top: 100px;
    background-color: #f8dac8;
    overflow: hidden;
}
.color_banner1 h2{
    margin-bottom: 5px;
}
.color_banner2 h2{
    margin-bottom: 5px;
}
.color_banner3 h2{
    margin-bottom: 5px;
}
.color_banner4 h2{
    margin-bottom: 5px;
}
.bn1_contant {
    width: 1320px;
    margin: auto;
    display: block;
    padding-top: 110px;
    padding-bottom: 65px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.bn1_text {
    padding-top: 70px;
}

/*컬러배너2*/
.color_banner2 {
    background-color: #b1d6e7;
    overflow: hidden;
}

.bn2_contant {
    width: 1320px;
    margin: auto;
    display: block;
    padding-top: 110px;
    padding-bottom: 65px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.bn2_text {
    padding-top: 70px;
}

/*컬러배너3*/
.color_banner3 {
    background-color: #ef8d8a;
    overflow: hidden;
}

.bn3_contant {
    width: 1320px;
    margin: auto;
    display: block;
    padding-top: 110px;
    padding-bottom: 65px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.bn3_text {
    padding-top: 70px;
}

/*컬러배너4*/
.color_banner4 {
    background-color: #f5eeda;
    overflow: hidden;
}

.bn4_contant {
    width: 1320px;
    margin: auto;
    display: block;
    padding-top: 110px;
    padding-bottom: 65px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.bn4_text {
    padding-top: 70px;
}

.sale {
    margin: 100px auto;
    display: block;
}


/*뉴스레터 및 푸터 시작점*/
/*뉴스레터*/
.left {
    width: 1320px;
    height: 350px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #EAE4F6;
}

.left>div {
    padding-bottom: 50px;
    padding-top: 45px;
    padding-left: 70px;
}

.text_footer1 {
    width: 150px;
    color: #000;
}

.text_footer1 p {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;

}

.text_footer1>a {
    font-size: 54px;
    margin-bottom: 70px;
    display: block;
    border-bottom: 3px solid #000;
}

.text_footer2 {
    width: 645.26px;
    position: relative;
}

.text_footer2 p {
    color: #000;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 10px;
}

.text_footer2 .email {
    width: 645px;
    height: 55px;
    border: none;
    background-color: transparent;
    border-bottom: 4px solid #000;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 20px;
    padding-right: 60px;
    box-sizing: border-box;
}

.text_footer2 .email:focus {
    outline: none;
}

.text_footer2 .email::placeholder {
    color: #8E8E8E;
}

.text_footer2 img {
    position: absolute;
    bottom: 8px;
    right: 7px;

}

/*뉴스레터*/


/*푸터*/
footer {
    max-width: 100%;
    border-top: 3px solid #000;
}

.footer_contants {
    width: 1320px;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.top {
    position: absolute;
    top: 42px;
    right: 19px;
}

.text_footer5 {
    margin-top: 42px;
}

.text_footer5 p {
    color: #848484;
    font-size: 18px;
    line-height: 38px;
}

.text_footer5 .aa {
    margin-left: 10px;

}

.text_footer6 {
    margin-top: 211px;
    margin-right: 19px;
}

.icon_footer {
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.icon_footer a {
    padding: 0px 10px 0px 10px;
}

.icon_footer img {
    display: block;
}

.icon_footer .youtube {
    padding-top: 5px;
}

.text_footer3 {
    margin-bottom: 15px;
}

.text_footer3 p {
    line-height: 36px;
}

.text_footer3 a {
    color: #848484;
    text-align: end;
    font-size: 23px;
    font-weight: bold;
    display: block;
}

.text_footer4 {
    display: block;
    margin-top: 80px;
    margin-bottom: 50px;
}

.text_footer4 p {
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

/*푸터*/